nav {
    width: 20em;
    background: lightgoldenrodyellow;
  }

  img {
    width: 500px;
    border: 5px solid red;
    padding: 5px;
  }

  article {
    margin-left: 40px;
  }

  h1 {
    text-align: center;
    color: cornflowerblue;
    margin: 0px;
  }

  body{
    margin: 0px;
  }

  nav ul{
    padding-left: 25px;
  }

  table, th, td {
    padding: 10px; 
    text-align: left;
    }
  table{
    
    font-family: "Ubuntu", "Verdana", "Arial", sans-serif;
    font-size: small;
  }
  th{
    background-color: #eb9f25;
  }
  td{
    background-color: #eed843;
  }